<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head-imports.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background-color:green">
<header>
    <nav class="navbar navbar-fixed navbar-inner header" style="padding: 0px 16px">
        <div class="navbar-brand" style="color: green;display: table;">
            <i class="fa fa-bolt fa-3x" style="color: white;"></i>
            <a href="/"
               style="display: table-cell; vertical-align: middle; padding-left: 15px;color: white;">CHARAN DAL</a>
        </div>

        <ul class="nav pull-right">
            <li>
                <a class="nav-link" href="/about">About</a>
            </li>
            <li>
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li>
                <a class="nav-link" href="/upload">Upload</a>
            </li>
            <li>
                <a class="nav-link" href="/filters">Filters</a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>
