
{% include 'nav.html' %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }} Click here to go Home Page  <a class="nav-link" href="/">Home</a> <br>

</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <h1 style="color: white;">Your Message</h1>
    <br>
    <form class="form-horizontal" action="{{ url_for('register') }}" method="post">
<!--    <form class="form-horizontal" action="/" method="get">-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="fname">First Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="fname" required placeholder="Enter First Name" name="fname">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lname">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lname" required placeholder="Enter Last Name" name="lname">
            </div>
        </div>

      <div class="form-group">
            <label class="control-label col-sm-2" for="dob">Date of birth:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="dob" required name="dob">
            </div>
        </div>

       <div class="form-group">
            <label class="control-label col-sm-2" for="city">Village/City:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="city" required placeholder="Enter Village/City" name="city">
            </div>
        </div>

      <div class="form-group">
            <label class="control-label col-sm-2" for="pincode">Pin code:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  id="pincode" required placeholder="Enter Pin code" name="pincode">
            </div>
        </div>
        
        <div class="form-group col-sm-6">
            <label for="district">Select District</label>
            <select class="form-control" id="district" name="district">
            </select>
          </div>

      <!-- <div class="form-group">
            <label class="control-label col-sm-2" for="district">District:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="district" required placeholder="Enter District" name="district">
            </div>
        </div> -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" required placeholder="Enter email" name="email">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="phone">Phone Number:</label>
            <div class="col-sm-6">
                <input type="tel" class="form-control" id="phone" required placeholder="Enter Phone Number"
                       name="phone">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="msg">Message:</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="msg" required placeholder="Enter Your Message" name="msg"
                          rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" value="submit">Submit</button>
            </div>
        </div>

    </form>
</div>
{% include 'footer.html'  %}
{% include 'scripts.html' %}